body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: white;
}

.container {
    width: 1000px;
    margin: 0 auto;
}
.container-benefits{
  width: 1200px;
  margin: 0 auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.promo {
    display: block;
    font-weight: bold;
    font-size: 55px;
    line-height: 65px;
    font-family: "Arial", serif;
    color: #ffffff;
    text-align: center;
}

.header {
    min-height: 575px;
    padding-top: 35px;
    background-image: url("../img/page-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-nav {
    float: left;
    width: 630px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-left: 80px;
    list-style: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-family: "Avantgarde", sans-serif;
    padding: 10px 10px;
}

.main-nav li {
    float: left;
    margin-right: 45px;
    font-size: 18px;
    text-transform: uppercase;

}

.main-nav li:last-child {
    margin-right: 0;
}

.main-nav a {
    color: black;
    color: white;
    text-decoration: none;
}

.main-nav a:hover {
    text-decoration: underline;
}

.main-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

.header-logo {
    float: left;
    width: 140px;
    height: 76px;
}
.header-top{
  margin-top: 70px;
}

.header {
  background-color: black;
}
.btn {
    display: inline-block;
    width: 146px;
    padding: 10px;
    font: inherit;
    vertical-align: top;
    text-align: center;
    color: rgb(131, 71, 0);
    text-transform: uppercase;
    text-decoration: none;
    word-wrap: break-word;
    border: 2px solid rgb(131, 71, 0);
    border-radius: 2px;
    font-weight: bold;
}
.btn.brown{
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgb(131, 71, 0);
}

.btn:hover {
    color: #8d745a;
    border-color: #8d745a;
}

.btn:active {
    color: rgba(141, 116, 90, 0.3);
    border-color: #8d745a;
}
.catalog-item{
  float: left;
  margin: 0;
  padding: 0;
  width: 497px;
  position: relative;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-collapse: collapse;
}
.catalog-item img{
margin-left: 40px;
}
.catalog-item .btn{
margin-left: 40px;
}
.catalog-item .btn.brown{
margin-left: 20px;
}
.catalog-item b{
position: absolute;
bottom: 12px;
right: 17px;
}
.catalog-item table.watchman-composition{
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 136px;
  border-bottom: 1px solid gray;
  font-weight: bold;
}
.catalog-item span.watchman-composition{
  display: inline-block;
  width: 175px;
  position: absolute;
  top: 80px;
  right: 60px;
}
.catalog-item table.romantic-composition{
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 106px;
  border-bottom: 1px solid gray;
  font-weight: bold;
}
.catalog-item span.romantic-composition{
  display: inline-block;
  width: 200px;
  height: 100%;
  position: absolute;
  top: 80px;
  right: 20px;
}
.catalog-item h3{
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 40px;
}
.catalog-item p{
  margin-left: 40px;
  margin-right: 60px;
}
.new{
  margin-bottom: 50px;
}

.benefits{
  background-color: rgb(255, 203, 120);
  height: 400px;
  margin: 0;
  padding: 0;
}
.benefits-item{
  float: left;
  width: 300px;
  margin-top: 100px;
  list-style: none;
  padding-right: 40px;
  border-right: 1px solid gray;
  margin-left: 60px;
}
.benefits-item p{
  display: inline-block;
  width: 300px;
}
.benefits-item:last-child{
  padding-right: 0;
  border-right: none;
}
.benefits-item:first-child{
  margin-left: 0;
}
.history{
  margin-top: 70px;
}
.history h3,
.history p{
  float: left;
}
.history h3{
    text-transform: uppercase;
}
h2{
  text-transform: uppercase;
  margin-bottom: 30px;
}
.history p{
  display: inline-block;
  margin-left: -40px;
  width: 550px;
}
.history i,
.history img{
  float: right;
}
.press{
  height: 500px;
  background-color: rgb(237, 229, 216);
}
.press h2{
  padding-top: 100px;
  font-size: 30px;
}
.press p{
  margin-left:-40px;
}
.reviews-list{
  position: relative;
  margin-top: 80px;
  width: 1000px;
  height: 150px;
}
.reviews-list .btn{
  position: absolute;
  bottom: 0;
  left: 0;
}
.reviews-list cite{
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 0;
}
.footer{
  background-color:rgb(0, 0, 0);
}
.main-nav.footer{
  border: none;
  padding-top: 15px;
  float: right;
}
.footer-bottom {
    padding-top: 50px;
}
.footer-logo{
  float: left;
  padding-top: 20px;
  padding-left: 25px;
}
.footer-social {
    float: left;
    width: 490px;
    font-size: 0;
}
.social-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    color: #ffffff;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.social-btn:hover {
    border-color: rgba(255, 255, 255, 0.3);
}

.social-btn:active {
    border-color: #ffffff;
    opacity: 0.1;
}

.social-btn.vk {
    background-position: 16px -238px;
}

.social-btn.fb {
    background-position: 19px -297px;
}

.social-btn.in {
    background-position: 13px -358px;
}
.footer-copyright{
  float: right;
}
.footer-copyright a{
  color: white;
  text-decoration: none;
  float: right;
}
